

.container{
  display: flex;
  background-color: rgba(16, 16, 16, 0.32);
  height: 100vh;
}
mat-card{
  margin-top: 15vh;
  width: 60%;
  margin-left: 15%;
  height: 70vh;
  box-shadow: 0 1rem 3rem rgba(9, 9, 9, 0.38);
}
mat-card-content{
  height: 90vh;
}
.name{
  margin-top: 15vh;
}

mat-form-field{
  width: 70%;

}
