<div class="container">
    <ng-container *ngIf="data.isAccountManager">
        <h2 class="container__header">
            Chat with: {{data.chatSession.chatInitiatorName}}
        </h2>
    </ng-container>
    <ng-container *ngIf="!data.isAccountManager">
        <h2 class="container__header">
            Your Chat Responder: {{data.chatSession.chatResponderName}}
        </h2>
    </ng-container>

    <textarea matInput
              readonly
              matTextareaAutosize
              matAutosizeMinRows="10"
              matAutosizeMaxRows="15"
              class="container__messages"
              [(ngModel)]="messages">

    </textarea>
    <div class="container__text-container">
        <input matInput
               name="message"
               placeholder="Enter Message"
               (keyup.enter)="onSend()"
               [(ngModel)]="message">
        <button mat-raised-button
                [disabled]="!sendAllowed"
                (click)="onSend()"
                class="container__button">Send
        </button>
    </div>
</div>


