<div class="container">
  <h2 class="container__header">
    Chat with: {{data.chatSession.chatInitiatorName}}
  </h2>
  <textarea  class="container__messages"
             [(ngModel)]="messages"
             rows="10"
             cols="80"
            disabled>

  </textarea>
  <div class="container__text-container">
    <input type="text"
           (keyup.enter)="onSend()"
           [(ngModel)]="message"
           class="container__text">
    <button mat-raised-button
            (click)="onSend()"
            class="container__button">Send</button>
  </div>
</div>


